/* src/components/NavBar.css */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #333;
    font-weight: 650;
    font-size: large;
  }
  
  .nav-item a.selected {
    border-bottom: 2px solid orange;
  }
  
  .search-bar {
    width: 200;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s;
  }
  
  .nav-item a:hover::after,
  .nav-item a.selected::after {
    width: 100%;
  }